* {box-sizing: border-box;}

#light {
    width: 1.25rem;
    margin-left: 0;
}

#dark {
    width: 1.25rem;
    margin-left: 0;
    margin-right: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  transition: background 0.2s linear;
  color: #BB86FC;
  overflow: hidden;
  background-color: #121212;

}

body.light {
    background-color: white;
    color:#BB86FC;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3d3d3d;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.checkbox-label .ball {
  background-color: #BB86FC;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(30px);
}

/* light mode styles */
body.light .navbar-elements {
    background-color: #BB86FC;
}

body.light .navbar-elements a {
    color:#3d3d3d;
}

body.light .navbar-elements a:hover {
    color: white;
}

body.light .content {
    background-color: #d3d3d3;
}

body.light .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.5rem;
    width: 0;
    right: 30px;
    border: solid #d3d3d3;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #d3d3d3;
}

body.light .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.5rem;
    width: 0;
    left: 30px;
    border: solid #d3d3d3;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d3d3d3 transparent transparent;
}

body.light .timeline::after {
    background-color: #d3d3d3;
}

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-around;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
    z-index: 10;
}

.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}

/*
    found this website to help with styling:
    https://www.w3schools.com/howto/howto_css_timeline.asp
*/

/* timeline container styling */
.timeline {
    position: relative;
    margin: 2rem;
}
  
/* The actual middle timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}
  
/* circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -1.1rem;
    background-color: white;
    border: 4px solid #BB86FC;
    top: 15px;
    border-radius: 50%;
    z-index: 1; /* purple border color will go over center line */
}
  
/* places container to  left */
.left {
    left: 0;
}
  
/* places container to right */
.right {
    left: 50%;
}

/* adds arrows to the left container (they point right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.5rem;
    width: 0;
    right: 30px;
    border: solid #3d3d3d;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #3d3d3d;
}
  
/* adds arrows to the right container (they point left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.5rem;
    width: 0;
    left: 30px;
    border: solid #3d3d3d;
    border-width: 10px 10px 10px 0;
    border-color: transparent #3d3d3d transparent transparent;
}
  
/* Fix the circle for containers on the right side */
.right::after {
    left: -1rem;
}
  
/* The actual content */
.content {
    padding: 1vw 2vw;
    background-color: #3d3d3d;
    position: relative;
    border-radius: 6px;
}

/* text styling */
h4 {
    font-size: 1.5rem;
    color:#BB86FC;
}

h2 {
    text-decoration: underline;
}

/* styling for phones */
@media (max-width: 600px) {
    .navbar-elements {
        display: none; /* Hide navbar */
        flex-direction: column;
        position: absolute; /* won't move anything around it */
        background-color: #3d3d3d;
        width: 50dvw;
        height: 50dvh;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .navbar-elements a {
        color: white;
    }

    /* Show the hamburger icon */
    label[for="menu"] {
        display: flex;
    }

    /* Show menu when hamburger is clicked on */
    #menu:checked ~ .navbar-elements {
        display: flex;
    }

    /* places timeline to left */
    .timeline::after {
        left: 30px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 5px;
    }

    /* arrows pointing leftward */
    .container::before {
        left: 60px;
        border: medium solid #3d3d3d;
        border-width: 10px 10px 10px 0;
        border-color: transparent #3d3d3d;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

}
