* {box-sizing: border-box;}

#light {
    width: 1.25rem;
    margin-left: 0;
}

#dark {
    width: 1.25rem;
    margin-left: 0;
    margin-right: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  transition: background 0.2s linear;
  color: #BB86FC;
  overflow: hidden;
  background-color: #121212;
}

body.light {
    background-color: white;
    color:#BB86FC;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3d3d3d;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.checkbox-label .ball {
  background-color: #BB86FC;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(30px);
}

/* light mode styles */
body.light .navbar-elements {
    background-color: #BB86FC;
}

body.light .navbar-elements a {
    color:#3d3d3d;
}

body.light .navbar-elements a:hover {
    color: white;
}

body.light p {
    color:#3d3d3d;
}

body.light span {
    color:#9f54fb;
}

/*
    pulled from this website: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399
    and additional help understanding from ChatGPT
*/

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}
.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}

/* styling for everything outside of navbar */
#main-content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 6%; /* gap between text and image */
    justify-content: center; /* puts content in the middle of page */
}

img {
    border-radius: 125px;
    margin-left: 2rem;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
    margin-bottom: 0;
}

#contact-info h2 {
    margin-top: 0;
}

#main-text {
    display: flex;
    flex-direction: column;  
}

/* styles my short description (below heading) */
p {
    color: white;
    font-size: 2rem;
    max-width: 75%;

}

span {
    color: color(display-p3 0.6 0.3 1);
}

/* when users scroll down, they'll scroll between content */
/* 
    information found from: 
    https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type
*/
#scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 85vh;
    margin-top: -2.5%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 95dvh;
}

/* styles my contact information page */
#contact-info {
    font-style: normal;
    color: #BB86FC;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

address a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

address a:hover{
    color: #BB86FC;
}

#quickContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quickContact a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    position: fixed;
    
}

#quickContact a:hover {
    color: #BB86FC;
}  

#quickContact p {
    font-size: 1.25rem;
    text-align: center;
}

form {
    text-align: left;
    width: 100%;
}

fieldset label {
    margin-bottom: 0.5rem;
}

label {
    display: block;
}

input {
    margin-bottom: 1rem;
}

legend {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

footer img {
    width: 3dvw;
    height: 5dvh;
}

/*
input:invalid, textarea:invalid{
    background-color: #ff7f7f;
}

input:user-invalid, textarea:user-invalid{
    background-color: #ff7f7f;
}

input:valid, textarea:valid {
    background-color: #88e788; 
}
*/

span {
    color: white;
}

input[type="submit"] {
    background-color: white;
    box-shadow: none;
    margin-top: 1rem;
    margin-bottom: 0;
}

/* https://dev.to/texe/css-animations-fade-inout-text-19kb */
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#errorMessage {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.25rem;
}

#message-comments {
    display: flex;
    flex-direction: column;
    width: 80%;
}

textarea {
    margin-bottom: 0.5rem;

}

/* validity messages (outside of the comments section) */
#nameError {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.25rem;
}

#emailError {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.25rem;
}

.error.active {
    padding: 0.3em;
    display: block;
}

/* validity message for comments section */
#errorMessage {
    display: none;
}

#errorMessage.visible {
    display: block;
}

/* character counting in textarea styling */


#infoMessage.error {
    background-color: red;
    color: white;
    padding-left: 0.25rem;
}

#infoMessage.warning {
    background-color: yellow;
    color: black;
    padding-left: 0.25rem;
}

#infoMessage.default {
    color: green;
}

/* styling for phones */
@media (max-width: 800px) {
    .navbar-elements {
        display: none; /* Hide navbar */
        flex-direction: column;
        position: absolute; /* won't move anything around it */
        background-color: #3d3d3d;
        width: 50dvw;
        height: 50dvh;
        border-radius: 10px;
    }

    .navbar-elements a {
        color: white;
    }

    /* Show the hamburger icon */
    label[for="menu"] {
        display: flex;
    }

    /* Show menu when hamburger is clicked on */
    #menu:checked ~ .navbar-elements {
        display: flex;
    }

    #main-content {
        flex-direction: column;
    }

    img {
        width: 200px;
        height: 300px;
        margin-left: 0;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    footer img {
        width: 8.5dvw;
        height: 5dvh;
    }
}

/* styling for larger screens (eg. ipads) */
@media (max-width: 1100px) {
    footer img {
        width: 5dvw;
        height: 4dvh;
    }
}
