body {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    padding: 0;
    border: 0;
}

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.3s;
}

.navbar-elements {
    display: flex;
    justify-content: space-around;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}

.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;;
}

.navbar-elements a:hover {
    color: white;
}

hgroup {
    padding-left: 2rem;
}

h1 {
    color: #BB86FC;
    font-size: 2rem;
    margin-bottom: 0;
}

h3 {
    padding-left: 2rem;
    text-decoration: underline;
}

h4 {
    font-size: 1rem;
}

p {
    margin-top: 0.5em;
}

/* when users scroll down, they'll scroll between content */
#scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
    margin-top: -4%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

#current-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

class-card {
    background-color: #3d3d3d;
    height: 15vh;
    width: 15vw;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




