* {box-sizing: border-box;}

#light {
    max-width: 1.25rem;
    margin-left: 0;
}

#dark {
    max-width: 1.25rem;
    margin-left: 0;
    margin-right: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  transition: background 0.2s linear;
  color: #BB86FC;
  background-color: #121212;
}

body.light {
    background-color: white;
    color:#BB86FC;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3d3d3d;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.checkbox-label .ball {
  background-color: #BB86FC;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(30px);
}

/* light mode styles */
body.light .navbar-elements {
    background-color: #BB86FC;
}

body.light .navbar-elements a {
    color:#3d3d3d;
}

body.light .navbar-elements a:hover {
    color: white;
}

body.light p {
    color:#3d3d3d;
}

body.light span {
    color:#9f54fb;
}

body.light class-card {
    background-color: #d3d3d3;
}

/*
    pulled from this website: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399
    and additional help understanding from ChatGPT
*/

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 1.5rem;
}
.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}

hgroup {
    padding-left: 1rem;
}

h1 {
    color: #BB86FC;
    font-size: 2rem;
    margin-bottom: 0;
}

h3 {
    padding-left: 2rem;
    text-decoration: underline;
}

h4 {
    font-size: 1rem;
}

p {
    margin-top: 0.5em;
}

/* when users scroll down, they'll scroll between content */
#scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin-top: -1%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

#current-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 12rem;
    margin-top: 2rem;
}

class-card {
    background-color: #3d3d3d;
    height: 15vh;
    width: 15vw;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#courses {
    margin-top: 9rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    margin-top: 0;
}

#bookDetails {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#right-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#right-side a {
    display: inline-block;
    background-color: #BB86FC;
    padding: 1rem;
    color:white;
    border-radius: 1em;
    align-self: center;
    text-decoration: none;
}

#right-side a:hover {
    background-color: color-mix(in display-p3, #BB86FC 70%, #4A90E2 30%);
}

/* styling for phones */
@media (max-width: 600px) {
    #light {
        max-width: 1rem;
        max-height: 1rem;
    }
    
    #dark {
        max-width: 1rem;
        max-height: 1rem;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-elements {
        display: none; /* Hide navbar */
        flex-direction: column;
        position: absolute; /* won't move anything around it */
        background-color: #3d3d3d;
        width: 50dvw;
        height: 50dvh;
        border-radius: 10px;
        font-size: 1.5rem;
        margin-top: 62vh;
    }

    .navbar-elements a {
        color: white;
    }

    /* Show the hamburger icon */
    label[for="menu"] {
        display: flex;
        margin-top: 3dvh;
        margin-left: 2dvh;
    }

    body.light label[for="menu"] span {
        background-color: #3d3d3d;
    }

    /* Show menu when hamburger is clicked on */
    #menu:checked ~ .navbar-elements {
        display: flex;
    }

    hgroup {
        text-align: center;
        padding-left: 0;
        margin-top: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 2vh !important;
        padding-left: 0;
    }

    #current-classes {
        margin-top: 0;
        flex-direction: column;
        gap: 1rem;
    }

    class-card {
        width: 50vw;
        height: 20vh;
    }

    #bookDetails img {
        width:40vw;
        height: 30vh;
    }

    h4 {
        font-size: 0.75rem;
    }

    #left-side {
        margin-left: 1rem;
    }

    #right-side {
        margin-right: 1rem;
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #secondPage {
        margin-top: 100vh;
    }

    #secondPage h3 {
        margin-top: 15vh !important;
    }

}

@media (max-width: 1100px) and (min-width: 601px) {
    class-card {
        width: 30vw;
        height: 20vh;
    }

    h3 {
        margin-top: 20%;
    }

    .navber-elements {
        font-size: 1rem;
    }
}

