body {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    padding: 0;
    border: 0;
}

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-around;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}

.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;;
}

.navbar-elements a:hover {
    color: white;
}

/* styles "Projects" title*/
h1 {
    color: #BB86FC;
    font-size: 2rem;
    padding-left: 2rem;

}

/* styles all card titles */
h4 {
    color: white;
    font-size: 1.5rem;
}

img {
    border-radius: 2rem;
}

p {
    padding-left: 3rem;
    padding-right: 3rem;
}

button {
    display: inline-block;
    background-color: #BB86FC;
    font-size: 1rem;
    padding: 1rem;
    color:white;
    border-radius: 1em;
    margin-bottom: 1rem;
}

button:hover {
    background-color: color-mix(in display-p3, #BB86FC 70%, #4A90E2 30%);
}

/* styles all project cards so they are displayed nicely */
.allProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* styling for inside of each project card */
.projectCard {
    background-color: #3d3d3d;
    height: 70vh;
    width: 30vw;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

/* styling for phones */
@media (max-width: 600px) {
    .navbar-elements {
        display: none; /* Hide navbar */
        flex-direction: column;
        position: absolute; /* won't move anything around it */
        background-color: #3d3d3d;
        width: 50dvw;
        height: 50dvh;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .navbar-elements a {
        color: white;
    }

    /* Show the hamburger icon */
    label[for="menu"] {
        display: flex;
    }

    /* Show menu when hamburger is clicked on */
    #menu:checked ~ .navbar-elements {
        display: flex;
    }

    h1 {
        text-align: center;
        padding-left: 0;
    }

    h4 {
        font-size: 1.25rem;
    }

    img {
        max-height: 225px;
        height: 40dvh;
        width: 70dvw;
    }

    p {
        font-size: 0.8rem;
    }

    .projectCard {
        height: 70vh;
        width: 80vw;
    }

}

/* styling for larger screens (eg. ipads) */
@media (max-width: 1100px) {
    .projectCard {
        margin-top: 2rem;
        height: 60vh;
        max-height: 1000px;
        width: 60vw;
        max-width: 800px;
    }

    img {
        max-height: 300px;
        height: 40dvh;
        width: 50dvw;
    }

}