/*
    pulled from this website: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399
    and additional help understanding from ChatGPT
*/

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
    font-weight: lighter;
    width: 40rem;
    height: 2rem;
}
.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}





* {box-sizing: border-box;}

#light {
    max-width: 1.25rem;
    margin-left: 0;
}

#dark {
    max-width: 1.25rem;
    margin-left: 0;
    margin-right: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  transition: background 0.2s linear;
  color: #BB86FC;
  overflow: hidden;
  background-color: #121212;
}

body.light {
    background-color: white;
    color:#BB86FC;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3d3d3d;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.checkbox-label .ball {
  background-color: #BB86FC;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(30px);
}

/* light mode styles */
body.light .navbar-elements {
    background-color: #BB86FC;
}

body.light .navbar-elements a {
    color:#3d3d3d;
}

body.light .navbar-elements a:hover {
    color: white;
}

body.light p {
    color:#3d3d3d;
}

body.light span {
    color:#9f54fb;
}

/*
    pulled from this website: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399
    and additional help understanding from ChatGPT
*/

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 1.5rem;
}
.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}

/* style for resume content */
h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
    margin-top: 0;
}

#resume-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    margin-top: 1rem;
}

#resumeDownload {
    display: inline-block;
    text-decoration: none;
    background-color: #BB86FC;
    padding: 1rem;
    color:white;
    border-radius: 1em;
}

#resumeDownload:hover {
    background-color: color-mix(in display-p3, #BB86FC 70%, #4A90E2 30%);
}

/* styling for phones */
@media (max-width: 600px) {
    #light {
        max-width: 1rem;
        max-height: 1rem;
    }
    
    #dark {
        max-width: 1rem;
        max-height: 1rem;
    }

    .checkbox-label {
        margin: 0.5rem;
        margin-top: 1rem;
    }

    body.light label[for="menu"] span {
        background-color: #3d3d3d;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar-elements {
        display: none; /* Hide navbar */
        flex-direction: column;
        position: absolute; /* won't move anything around it */
        background-color: #3d3d3d;
        width: 50dvw;
        height: 50dvh;
        border-radius: 10px;
        font-size: 1.5rem;
        margin-top: 62vh;
    }

    .navbar-elements a {
        color: white;
    }

    /* Show the hamburger icon */
    label[for="menu"] {
        display: flex;
    }

    /* Show menu when hamburger is clicked on */
    #menu:checked ~ .navbar-elements {
        display: flex;
    }

    #resume-content {
        flex-direction: column;
    }

    object {
        width: 80% !important;
        height: 60% !important;
        object-fit: contain;
    }

    h1 {
        margin-top: 1rem;
    }
}

/* styling for larger screens (eg. ipad) */
@media (min-width: 901px) and (max-width: 1100px) {
    .navber-elements {
        font-size: 1rem;
    }

    #resume-content {
        margin-top: 3rem;
    }
}






