body {
    color: #BB86FC;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    padding: 0;
    border: 0;
}

/* styles my navbar on top */
#menu { /* Hide the checkbox */
    display: none;
}

/* Style the hamburger menu */
label[for="menu"] {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-left: 2dvh;
    width: 40px;
    height: 30px;
}

label[for="menu"] span {
    display: block;
    border-radius: 2rem;
    height: 0.25rem;
    width: 100%;
    background: white;
    transition: 0.3s;
}

.navbar-elements {
    display: flex;
    justify-content: space-around;
    background-color: #3d3d3d;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}

.navbar-elements a {
    text-decoration: none;
    color:#9f54fb;
}

.navbar-elements a:hover {
    color: white;
}

/* style for resume content */
h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
}

#resume-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    margin-top: -2.0rem;
}

#resumeDownload {
    display: inline-block;
    text-decoration: none;
    background-color: #3d3d3d;
    padding: 1rem;
    color:white;
    border-radius: 1em;
}

#resumeDownload:hover {
    font-weight: bold;
}




